.movie-info-container {
  background-color: gray;
  margin-left: 40px;
  width: 40%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 25px;
}

.movie-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 4px;
}

.movie-language {
  color: white;
  margin-bottom: 15px;
}

.votes-container {
  display: flex;
  margin: 20px 0;
}

.votes-container span {
  display: flex;
  margin-right: 40px;
  color: white;
  align-items: center;
}

.votes-container span img {
  margin-right: 15px;
}

.movie-about {
  color: white;
}

.movie-ratings-container {
  width: 90%;
  margin: auto 0 20px 20px;
  display: flex;
  justify-content: space-between;
}

.movie-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-img {
  padding: 10px;
  border: 1.5px solid white;
  border-radius: 50%;
  margin-bottom: 6px;
}

.rating-type {
  font-size: 0.8rem;
  margin-bottom: 3px;
}

.rating-vote {
  font-size: 0.7rem;
}
