.items {
  width: 233px;
  margin: 0 25px;
  height: 310px;
  position: relative;
}

.movie-image {
  width: 210px;
  margin: 0 auto;
  height: 280px;
  background-color: gray;
}

.movie-image img {
  width: 100%;
  height: 100%;
}

.movie-name {
  width: 100%;
  font-size: 0.9rem;
  color: rgb(215, 213, 213);
  text-align: center;
  padding: 10px 0;
}

.play-icon {
  width: 233px;
  height: 100%;
  position: absolute;
  top: -15px;
  display: grid;
  place-items: center;
}
